pipeline/AdfIncPipeline.json
{
	"name": "AdfIncPipeline",
	"properties": {
		"activities": [
			{
				"name": "OldWaterMarkLookup",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource"
					},
					"dataset": {
						"referenceName": "AzureSqlDB",
						"type": "DatasetReference"
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "NewWaterMarkLookup",
				"type": "Lookup",
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": "select MAX(LastModifytime) as NewWatermarkvalue from data_source_table"
					},
					"dataset": {
						"referenceName": "SourceAzureSqlTable",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "CopyInc",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "OldWaterMarkLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "NewWaterMarkLookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "select * from data_source_table where LastModifytime > '@{activity('OldWaterMarkLookup').output.firstRow.WatermarkValue}' and LastModifytime <= '@{activity('NewWaterMarkLookup').output.firstRow.NewWatermarkvalue}'",
							"type": "Expression"
						}
					},
					"sink": {
						"type": "BlobSink"
					},
					"enableStaging": false,
					"dataIntegrationUnits": 0
				},
				"inputs": [
					{
						"referenceName": "SourceAzureSqlTable",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DestAzure",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "UpdateWaterMarkTable",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "CopyInc",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"storedProcedureName": "[dbo].[sp_write_watermark]",
					"storedProcedureParameters": {
						"LastModifiedtime": {
							"value": {
								"value": "@{activity('NewWaterMarkLookup').output.firstRow.NewWatermarkvalue}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableName": {
							"value": {
								"value": "@{activity('OldWaterMarkLookup').output.firstRow.TableName}",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AZ_AdvantureWorks",
					"type": "LinkedServiceReference",
					"parameters": {
						"ServerName": "sydev.database.windows.net",
						"DBName": "SY",
						"UserName": "syuser",
						"Password": "Zensar@18"
					}
				}
			},
			{
				"name": "SuccessEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "UpdateWaterMarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-46.eastus.logic.azure.com:443/workflows/1ff97b95273f49acaf626ed17d2bb8db/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=eiVyusoO8xsD3jeqHtNAsl8sdgJcjHpuU_RED3YymZU",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('CopyInc').output.dataWritten}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			},
			{
				"name": "FailureEmail",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "UpdateWaterMarkTable",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-30.eastus.logic.azure.com:443/workflows/21ab6c507a8c41f0861275c0fa342e36/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=N2znDHb_6x34WfB_7XXlI5Zh_Sf5VpfR2DMguNKs9fU",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('CopyInc').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			},
			{
				"name": "Web1",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "CopyInc",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"typeProperties": {
					"url": "https://prod-30.eastus.logic.azure.com:443/workflows/21ab6c507a8c41f0861275c0fa342e36/triggers/manual/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2Fmanual%2Frun&sv=1.0&sig=N2znDHb_6x34WfB_7XXlI5Zh_Sf5VpfR2DMguNKs9fU",
					"method": "POST",
					"headers": {
						"Content-Type": "application/json"
					},
					"body": {
						"message": "@{activity('CopyInc').error.message}",
						"dataFactoryName": "@{pipeline().DataFactory}",
						"pipelineName": "@{pipeline().Pipeline}",
						"receiver": "@pipeline().parameters.receiver"
					}
				}
			}
		],
		"parameters": {
			"receiver": {
				"type": "String",
				"defaultValue": "madhav.ganji@gmail.com"
			}
		}
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}